<footer class="footer">
    <div class="footer__items">
        <div class="footer__item">
            <div class="footer__item__title">客戶服務</div>
            <ul class="footer__item__contents">
                <li class="footer__item__content"><a href="#">新手上路下單教學</a></li>
                <li class="footer__item__content"><a href="#">代客儲酒</a></li>
                <li class="footer__item__content"><a href="#">訂單配送進度查詢</a></li>
                <li class="footer__item__content"><a href="#">取消訂閱電子報</a></li>
                <li class="footer__item__content"><a href="#">更改配送地址</a></li>
                <li class="footer__item__content"><a href="#">瀏覽清單</a></li>
                <li class="footer__item__content"><a href="#">追蹤清單</a></li>
                <li class="footer__item__content"><a href="#">Q&A 常見問題</a></li>
            </ul>
        </div>
        <div class="footer__item">
            <div class="footer__item__title">商務合作</div>
            <ul class="footer__item__contents">
                <li class="footer__item__content"><a href="#">企業採購</a></li>
                <li class="footer__item__content"><a href="#">異業合作</a></li>
                <li class="footer__item__content"><a href="#">廠商上架</a></li>
                <li class="footer__item__content"><a href="#">人才招募</a></li>
            </ul>
        </div>
        <div class="footer__item">
            <div class="footer__item__title">關於我們</div>
            <ul class="footer__item__contents">
                <li class="footer__item__content"><a href="#">企業使命</a></li>
                <li class="footer__item__content"><a href="#">當日配/快速到貨說明</a></li>
                <li class="footer__item__content"><a href="#">酒窖環境一覽</a></li>
                <li class="footer__item__content"><a href="#">品質保證</a></li>
                <li class="footer__item__content"><a href="#">條款與細則</a></li>
                <li class="footer__item__content"><a href="#">隱私條款</a></li>
            </ul>
        </div>
        <div class="footer__item">
            <div class="footer__item__title">聯絡我們</div>
            <ul class="footer__item__contents">
                <li class="footer__item__content">服務專線：02-2926-3667</li>
                <li class="footer__item__content"><a href="#">客服 E-mail：service@icheers.tw</a></li>
                <li class="footer__item__content">服務時間：<br>星期一~五，9:00~12:00 13:00~18:00，國定假日除外</li>
                <li class="footer__item__content">傳真電話：02-2924-6220</li>
                <li class="footer__item__content">
                    <a class="footer__item__content--socialmedia" href="#"><img src="../assets/images/icon_line.svg" alt="加入官方Line"></a>
                    <a class="footer__item__content--socialmedia" href="#"><img src="../assets/images/icon_facebook.svg" alt="加入官方Facebook"></a>
                    <a class="footer__item__content--socialmedia" href="#"><img src="../assets/images/icon_instagram.svg" alt="加入官方Instagram"></a>
                </li>
            </ul>
            <div class="footer__copyright">
                <span>版權宣告</span> 
                佳釀股份有限公司 統一編號 29081831
                <span>Copyright @ 2024 iCheers.tw 版權所有 轉載必究</span>
            </div>
        </div>
        
    </div>
   
    
</footer>