<nav>
    <div class="nav">
        <button class="nav__hamburger"></button>
        <a class="nav__logo" href="index.html"><img src="../assets/images/iCheersLogo-cn.svg" alt="iCheers愛酒窩"></a>
        <div class="nav__searchbar">
            <div class="nav__searchbar__trigger"></div>

        </div>
        <div class="nav__infos"></div>
    </div>
    
</nav>
<div class="black-BG popup-close" id="black-BG"></div>
    <div class="header_gates">
      <div class="header_gates_box">
        <a class="header_gate" href="index_Wine.html"><span class="header_gate_icon"><img src="images/icon-wine.png" alt="葡萄酒"></span><span class="header_gate_txt">葡萄酒館</span></a>
        <a class="header_gate" href="index_Spirits.html"><span class="header_gate_icon"><img src="images/icon-whiskey.png" alt="烈酒"></span><span class="header_gate_txt">烈酒館</span></a>
        <a class="header_gate" href="index_Beer.html"><span class="header_gate_icon"><img src="images/icon-beer.png" alt="啤酒"></span><span class="header_gate_txt">啤酒館</span></a>
        <a class="header_gate" href="index_Sake.html"><span class="header_gate_icon"><img src="images/icon-sake.png" alt="清酒"></span><span class="header_gate_txt">清酒館</span></a>
        <a class="header_gate" href="index_Merchandise.html"><span class="header_gate_icon"><img src="images/icon-merch.png" alt="周邊"></span><span class="header_gate_txt">周邊館</span></a>
      </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    