<div class="owl-carousel owl-theme B-Carousel">
  <div class="item ">
    <img src="../assets/images/banner_1280x576.jpg" class="carousel-img--desk w-100" alt="...">
    <img src="../assets/images/banner_425x293.jpg" class="carousel-img--mobile w-100" alt="...">
  </div>
  <div class="item ">
    <img src="../assets/images/banner_1280x576.jpg" class="carousel-img--desk w-100" alt="...">
    <img src="../assets/images/banner_425x293.jpg" class="carousel-img--mobile w-100" alt="...">
  </div>
  <div class="item ">
    <img src="../assets/images/banner_1280x576.jpg" class="carousel-img--desk w-100" alt="...">
    <img src="../assets/images/banner_425x293.jpg" class="carousel-img--mobile w-100" alt="...">
  </div>
  <div class="item ">
    <img src="../assets/images/banner_1280x576.jpg" class="carousel-img--desk w-100" alt="...">
    <img src="../assets/images/banner_425x293.jpg" class="carousel-img--mobile w-100" alt="...">
  </div>
  <div class="item ">
    <img src="../assets/images/banner_1280x576.jpg" class="carousel-img--desk w-100" alt="...">
    <img src="../assets/images/banner_425x293.jpg" class="carousel-img--mobile w-100" alt="...">
  </div>
  <div class="item ">
    <img src="../assets/images/banner_1280x576.jpg" class="carousel-img--desk w-100" alt="...">
    <img src="../assets/images/banner_425x293.jpg" class="carousel-img--mobile w-100" alt="...">
  </div>
  <div class="item ">
    <img src="../assets/images/banner_1280x576.jpg" class="carousel-img--desk w-100" alt="...">
    <img src="../assets/images/banner_425x293.jpg" class="carousel-img--mobile w-100" alt="...">
  </div>
</div>