<section class="C-textBoard">
    <h2 class="C-textBoard__title">最新公告</h2>
    <div class="owl-carousel owl-theme C-textBoard__lists">
        <div class="item">
            <ul class="C-textBoard__list">
                <li class="C-textBoard__item"><span>客服</span><a href="#">沒有收到確認信？</a></li>
                <li class="C-textBoard__item"><span>客服</span><a href="#">點此加入官方Line</a></li>
                <li class="C-textBoard__item"><span>物流</span><a href="#">7/7(五)提早至5點下班，隔日到貨2點截單</a></li>
                <li class="C-textBoard__item"><span>繁盛</span><a href="#">9/18(一)-10/9(一)為中秋繁盛期，當日配到貨時間說明</a></li>
                <li class="C-textBoard__item"><span>儲酒</span><a href="#">頂級酒窖全台最優惠價格，會員限定。</a></li>
            </ul>
        </div>
        <div class="item">
            <ul class="C-textBoard__list">
                <li class="C-textBoard__item"><span>客服</span><a href="#">沒有收到確認信？</a></li>
                <li class="C-textBoard__item"><span>客服</span><a href="#">點此加入官方Line</a></li>
                <li class="C-textBoard__item"><span>物流</span><a href="#">7/7(五)提早至5點下班，隔日到貨2點截單</a></li>
                <li class="C-textBoard__item"><span>繁盛</span><a href="#">9/18(一)-10/9(一)為中秋繁盛期，當日配到貨時間說明</a></li>
                <li class="C-textBoard__item"><span>儲酒</span><a href="#">頂級酒窖全台最優惠價格，會員限定。</a></li>
            </ul>
        </div>
        <div class="item">
            <ul class="C-textBoard__list">
                <li class="C-textBoard__item"><span>客服</span><a href="#">沒有收到確認信？</a></li>
                <li class="C-textBoard__item"><span>客服</span><a href="#">點此加入官方Line</a></li>
                <li class="C-textBoard__item"><span>物流</span><a href="#">7/7(五)提早至5點下班，隔日到貨2點截單</a></li>
                <li class="C-textBoard__item"><span>繁盛</span><a href="#">9/18(一)-10/9(一)為中秋繁盛期，當日配到貨時間說明</a></li>
                <li class="C-textBoard__item"><span>儲酒</span><a href="#">頂級酒窖全台最優惠價格，會員限定。</a></li>
            </ul>
        </div>
    </div>
   
</section>