<section class="D-topics">
    <h2 class="D-topics__title">主題選酒</h2>
    <% if (page =='wine'){ %>
    <div class="D-topics__items D-topics__items--wine">
        <a href="#" class="D-topics__item"><img src="../assets/images/D_wine_1.png" alt="波爾多"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_wine_2.png" alt="布根地"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_wine_3.png" alt="香檳"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_wine_4.png" alt="義大利"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_wine_5.png" alt="美國膜拜酒"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_wine_6.png" alt="台灣"></a>
    </div>
    <% } else if (page == 'spirits'){ %>
    <div class="D-topics__items D-topics__items--wine">
        <a href="#" class="D-topics__item"><img src="../assets/images/D_spirits_1.png" alt="波爾多"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_spirits_2.png" alt="布根地"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_spirits_3.png" alt="香檳"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_spirits_4.png" alt="義大利"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_spirits_5.png" alt="美國膜拜酒"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_spirits_6.png" alt="台灣"></a>
    </div>
    <% } else if (page == 'beer'){ %>
    <div class="D-topics__items D-topics__items--wine">
        <a href="#" class="D-topics__item"><img src="../assets/images/D_beer_1.png" alt="波爾多"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_beer_2.png" alt="布根地"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_beer_3.png" alt="香檳"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_beer_4.png" alt="義大利"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_beer_5.png" alt="美國膜拜酒"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_beer_6.png" alt="台灣"></a>
    </div>
    <% } else{%>
    <div class="D-topics__items D-topics__items--wine">
        <a href="#" class="D-topics__item"><img src="../assets/images/D_sake_1.png" alt="波爾多"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_sake_2.png" alt="布根地"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_sake_3.png" alt="香檳"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_sake_4.png" alt="義大利"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_sake_5.png" alt="美國膜拜酒"></a>
        <a href="#" class="D-topics__item"><img src="../assets/images/D_sake_6.png" alt="台灣"></a>
    </div>
    <% } %>
</section>