<!-- banner 五個以上 -->
<section class="G-banners">
    <p class="G-banners__title">您曾選購<a href="#">膜拜酒</a>類型，推薦您以下活動</p>
    <div class="owl-carousel owl-theme G-banners__items G-banners__morethan5">
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_01.jpg" alt="..."></a>
        </div>
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_02.jpg" alt="..."></a>
        </div>
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_03.jpg" alt="..."></a>
        </div>
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_04.jpg" alt="..."></a>
        </div>
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_05.jpg" alt="..."></a>
        </div>
    </div>
</section>
<!-- banner 四個 -->
<section class="G-banners">
    <p class="G-banners__title">您曾選購<a href="#">膜拜酒</a>類型，推薦您以下活動</p>
    <div class="owl-carousel owl-theme G-banners__items G-banners__banners4">
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_01.jpg" alt="..."></a>
        </div>
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_02.jpg" alt="..."></a>
        </div>
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_03.jpg" alt="..."></a>
        </div>
        <div class="item">
          <a href="#"><img src="../assets/images/banner_425x293_04.jpg" alt="..."></a>
        </div>
    </div>
</section>
<!-- banner 三個 -->
<section class="G-banners">
  <p class="G-banners__title">您曾選購<a href="#">膜拜酒</a>類型，推薦您以下活動</p>
  <div class="owl-carousel owl-theme G-banners__items G-banners__banners3">
      <div class="item">
        <a href="#"><img src="../assets/images/banner_425x293_01.jpg" alt="..."></a>
      </div>
      <div class="item">
        <a href="#"><img src="../assets/images/banner_425x293_02.jpg" alt="..."></a>
      </div>
      <div class="item">
        <a href="#"><img src="../assets/images/banner_425x293_03.jpg" alt="..."></a>
      </div>
  </div>
</section>
<!-- banner 二個 -->
<section class="G-banners">
  <p class="G-banners__title">您曾選購<a href="#">膜拜酒</a>類型，推薦您以下活動</p>
  <div class="owl-carousel owl-theme G-banners__items G-banners__banners2">
      <div class="item">
        <a href="#">
          <img class="--fordesk" src="../assets/images/banner_1000x500_01.jpg" alt="...">
          <img class="--formobile" src="../assets/images/banner_425x293_05.jpg" alt="...">
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img class="--fordesk" src="../assets/images/banner_1000x500_02.jpg" alt="...">
          <img class="--formobile" src="../assets/images/banner_425x293_01.jpg" alt="...">
        </a>
      </div>
  </div>
</section>
<!-- banner 一個 -->
<section class="G-banners">
  <div class="G-banners__wrap">
    <p class="G-banners__title">您曾選購<a href="#">膜拜酒</a>類型，推薦您以下活動</p>
    <div class="owl-carousel owl-theme G-banners__items G-banners__abanner">
        <div class="item">
          <a href="#">
            <img class="--fordesk" src="../assets/images/banner_1000x500_01.jpg" alt="...">
            <img class="--formobile" src="../assets/images/banner_425x293_05.jpg" alt="...">
          </a>
        </div>
    </div>
  </div>
</section>


