<section class="K-limitedtimeOffer">
    <h3 class="K-limitedtimeOffer__title">限時下殺
        <div class="K-limitedtimeOffer__timer">倒數
            <div class="K-limitedtimeOffer__timer__days"><span>0</span><span>0</span></div>:
            <div class="K-limitedtimeOffer__timer__hours"><span>0</span><span>0</span></div>:
            <div class="K-limitedtimeOffer__timer__minutes"><span>0</span><span>0</span></div>:
            <div class="K-limitedtimeOffer__timer__seconds"><span>0</span><span>0</span></div>
        </div>
    </h3>
    <div class="owl-carousel owl-theme K-limitedtimeOffer__items">
        <div class="item">
            <div class="K-limitedtimeOffer__item">
                <h4 class="K-limitedtimeOffer__name"><a href="#">正面對決！挑戰最低 ALMAVIVA</a></h4>
                <table class="K-limitedtimeOffer__price">
                    <tr>
                        <td></td>
                        <td><span class="K-limitedtimeOffer__price--original">5800</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span class="K-limitedtimeOffer__price--discount"></span></td>
                        <td><span class="K-limitedtimeOffer__price--sale --fast">5400</span>&frasl;&thinsp;瓶</td>
                        <td><button class="deliveryBTN--fast"></button></td>
                    </tr>
                </table>
                <div class="K-limitedtimeOffer__pic">
                    <a href="#">
                        <div class="K-limitedtimeOffer__pic__wrap"><img class="K-limitedtimeOffer__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA"></div>
                    </a>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="K-limitedtimeOffer__item">
                <h4 class="K-limitedtimeOffer__name"><a href="#">正面對決！挑戰最低 ALMAVIVA正面對決！挑戰最低 ALMAVIVA正面對決！挑戰最低 ALMAVIVA</a></h4>
                <table class="K-limitedtimeOffer__price">
                    <tr>
                        <td></td>
                        <td><span class="K-limitedtimeOffer__price--original">5800</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span class="K-limitedtimeOffer__price--discount">85折</span></td>
                        <td><span class="K-limitedtimeOffer__price--sale --normal">5400</span>&frasl;&thinsp;瓶</td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="K-limitedtimeOffer__pic">
                    <a href="#">
                        <div class="K-limitedtimeOffer__pic__wrap"><img class="K-limitedtimeOffer__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA"></div>
                    </a>
                </div>
                <button class="favoriteBTN active"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="K-limitedtimeOffer__item">
                <h4 class="K-limitedtimeOffer__name"><a href="#">正面對決！挑戰最低 ALMAVIVA</a></h4>
                <table class="K-limitedtimeOffer__price">
                    <tr>
                        <td></td>
                        <td><span class="K-limitedtimeOffer__price--original">5800</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span class="K-limitedtimeOffer__price--discount">85折</span></td>
                        <td><span class="K-limitedtimeOffer__price--sale --preorder">5400</span>&frasl;&thinsp;組</td>
                        <td><button class="deliveryBTN--preorder"></button></td>
                    </tr>
                </table>
                <div class="K-limitedtimeOffer__pic">
                    <a href="#">
                        <div class="K-limitedtimeOffer__pic__wrap"><img class="K-limitedtimeOffer__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA"></div>
                    </a>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
    </div>
</section>