<section class="L-itemsRanking">
    <h3 class="L-itemsRanking__title">大家都在買</h3>
    <div class="owl-carousel owl-theme L-itemsRanking__items">
        <div class="item">
            <div class="L-itemsRanking__item">
                <div class="L-itemsRanking__wrap">
                    <h4 class="L-itemsRanking__name">
                        <a href="#">
                           <span class="L-itemsRanking__name--en">Dom. René Leclerc</span>
                           <span class="L-itemsRanking__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                        </a>
                    </h4>
                    <div class="L-itemsRanking__info">
                        <span class="L-itemsRanking__info__year">2018</span>
                        <span class="L-itemsRanking__info__capacity">750ml</span>
                        <span class="L-itemsRanking__info__awards">RP 93</span>
                    </div>
                </div>
                
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>1</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="L-itemsRanking__item">
                <div class="L-itemsRanking__wrap">
                    <h4 class="L-itemsRanking__name">
                        <a href="#">
                           <span class="L-itemsRanking__name--en">啤酒頭釀造</span>
                           <span class="L-itemsRanking__name--cn">蠟筆小新聯名「多多指教」乳酸多多氣泡酒</span>
                        </a>
                    </h4>
                    <div class="L-itemsRanking__info">
                        <span class="L-itemsRanking__info__year">NA</span>
                        <span class="L-itemsRanking__info__capacity">330ml</span>
                        <!-- <span class="L-itemsRanking__info__awards">RP 93</span> -->
                    </div>
                </div>
                
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">150</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/BR000027107_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>2</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="L-itemsRanking__item">
                <div class="L-itemsRanking__wrap">
                    <h4 class="L-itemsRanking__name">
                        <a href="#">
                           <span class="L-itemsRanking__name--en">油長酒造株式会社</span>
                           <span class="L-itemsRanking__name--cn">風之森 ALPHA 7 一期一會 2023（附「酒直し薬」 蒸餾酒50ml</span>
                        </a>
                    </h4>
                    <div class="L-itemsRanking__info">
                        <span class="L-itemsRanking__info__year">NV</span>
                        <span class="L-itemsRanking__info__capacity">720ml</span>
                        <!-- <span class="L-itemsRanking__info__awards">RP 93</span> -->
                    </div>
                </div>
                
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">4280</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/SWR00004508_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>3</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="L-itemsRanking__item">
                <div class="L-itemsRanking__wrap">
                    <h4 class="L-itemsRanking__name">
                        <a href="#">
                           <span class="L-itemsRanking__name--en">啤酒肚釀製</span>
                           <span class="L-itemsRanking__name--cn">「初吻」比利時小麥啤酒</span>
                        </a>
                    </h4>
                    <div class="L-itemsRanking__info">
                        <span class="L-itemsRanking__info__year">NA</span>
                        <span class="L-itemsRanking__info__capacity">330ml</span>
                        <!-- <span class="L-itemsRanking__info__awards">RP 93</span> -->
                    </div>
                </div>
                
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">150</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/BR00020003_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>4</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="L-itemsRanking__item">
                <div class="L-itemsRanking__wrap">
                    <h4 class="L-itemsRanking__name">
                        <a href="#">
                           <span class="L-itemsRanking__name--en">Kujira Whisky</span>
                           <span class="L-itemsRanking__name--cn">「進撃的巨人 X 稻荷神」琉球威士忌（聯名10週年紀念酒）</span>
                        </a>
                    </h4>
                    <div class="L-itemsRanking__info">
                        <span class="L-itemsRanking__info__year">NV</span>
                        <span class="L-itemsRanking__info__capacity">720ml</span>
                        <!-- <span class="L-itemsRanking__info__awards">RP 93</span> -->
                    </div>
                </div>
                
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/WWR00042301_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>5</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
    </div>
</section>