<section class="L-itemsRanking">
    <h3 class="L-itemsRanking__title">大家都在買</h3>
    <div class="owl-carousel owl-theme L-itemsRanking__items">
        <div class="item">
            <div class="L-itemsRanking__item">
                <h4 class="L-itemsRanking__name">
                    <a href="#">
                       <span class="L-itemsRanking__name--en">Dom. René Leclerc</span>
                       <span class="L-itemsRanking__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="L-itemsRanking__info">
                    <span class="L-itemsRanking__info__year">2018</span>
                    <span class="L-itemsRanking__info__capacity">750ml</span>
                    <span class="L-itemsRanking__info__awards">RP 93</span>
                </div>
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>1</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="L-itemsRanking__item">
                <h4 class="L-itemsRanking__name">
                    <a href="#">
                       <span class="L-itemsRanking__name--en">Dom. René Leclerc</span>
                       <span class="L-itemsRanking__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="L-itemsRanking__info">
                    <span class="L-itemsRanking__info__year">2018</span>
                    <span class="L-itemsRanking__info__capacity">750ml</span>
                    <span class="L-itemsRanking__info__awards">RP 93</span>
                </div>
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>2</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="L-itemsRanking__item">
                <h4 class="L-itemsRanking__name">
                    <a href="#">
                       <span class="L-itemsRanking__name--en">Dom. René Leclerc</span>
                       <span class="L-itemsRanking__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="L-itemsRanking__info">
                    <span class="L-itemsRanking__info__year">2018</span>
                    <span class="L-itemsRanking__info__capacity">750ml</span>
                    <span class="L-itemsRanking__info__awards">RP 93</span>
                </div>
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>3</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="L-itemsRanking__item">
                <h4 class="L-itemsRanking__name">
                    <a href="#">
                       <span class="L-itemsRanking__name--en">Dom. René Leclerc</span>
                       <span class="L-itemsRanking__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="L-itemsRanking__info">
                    <span class="L-itemsRanking__info__year">2018</span>
                    <span class="L-itemsRanking__info__capacity">750ml</span>
                    <span class="L-itemsRanking__info__awards">RP 93</span>
                </div>
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>4</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="L-itemsRanking__item">
                <h4 class="L-itemsRanking__name">
                    <a href="#">
                       <span class="L-itemsRanking__name--en">Dom. René Leclerc</span>
                       <span class="L-itemsRanking__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="L-itemsRanking__info">
                    <span class="L-itemsRanking__info__year">2018</span>
                    <span class="L-itemsRanking__info__capacity">750ml</span>
                    <span class="L-itemsRanking__info__awards">RP 93</span>
                </div>
                <table class="L-itemsRanking__price">
                    <tr>
                        <td><span class="L-itemsRanking__price--discount"></span></td>
                        <td><span class="L-itemsRanking__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="L-itemsRanking__pic">
                    <a href="#">
                        <div class="L-itemsRanking__pic__wrap">
                            <img class="L-itemsRanking__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    <div class="L-itemsRanking__Ranking"><span>5</span></div>
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
    </div>
</section>