<section class="M-itemList">
    <h2 class="M-itemList__title">最新降價</h2>
    <div class="owl-carousel owl-theme M-itemList__items">
        <div class="item">
            <div class="M-itemList__item">
                <div class="M-itemList__wrap">
                    <h3 class="M-itemList__name">
                        <a href="#">
                           <span class="M-itemList__name--en">Heemskerk Wines</span>
                           <span class="M-itemList__name--cn">喬治傑生聯名 粉紅氣泡酒（禮盒）</span>
                        </a>
                    </h3>
                    <div class="M-itemList__info">
                        <span class="M-itemList__info__year">NV</span>
                        <span class="M-itemList__info__capacity">750ml</span>
                        <!-- <span class="M-itemList__info__awards">RP 93</span> -->
                    </div>
                </div>
                
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal" aria-label="加入清單"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/WI00187205_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="M-itemList__item">
                <div class="M-itemList__wrap">
                    <h3 class="M-itemList__name">
                        <a href="#">
                           <span class="M-itemList__name--en">高橋酒造株式会社</span>
                           <span class="M-itemList__name--cn">龍角散 梅酒</span>
                        </a>
                    </h3>
                    <div class="M-itemList__info">
                        <span class="M-itemList__info__year">NV</span>
                        <span class="M-itemList__info__capacity">180ml</span>
                        <!-- <span class="M-itemList__info__awards">RP 93</span> -->
                    </div>
                </div>
                
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal" aria-label="加入清單"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/SWR00022207_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="M-itemList__item">
                <div class="M-itemList__wrap">
                    <h3 class="M-itemList__name">
                        <a href="#">
                           <span class="M-itemList__name--en">Schrader Cellars</span>
                           <span class="M-itemList__name--cn">「火龍雙鑽」卡本內蘇維濃紅酒（龍年禮盒）</span>
                        </a>
                    </h3>
                    <div class="M-itemList__info">
                        <span class="M-itemList__info__year">2021</span>
                        <span class="M-itemList__info__capacity">750ml</span>
                        <span class="M-itemList__info__awards">RP 93</span>
                    </div>
                </div>
                
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --fast">9605</span></td>
                        <td><button class="deliveryBTN--fast" aria-label="加入清單"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/WI00150515_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="M-itemList__item">
                <div class="M-itemList__wrap">
                    <h3 class="M-itemList__name">
                        <a href="#">
                           <span class="M-itemList__name--en">啤酒肚釀製</span>
                           <span class="M-itemList__name--cn">「龍呼你賺」年節禮盒</span>
                        </a>
                    </h3>
                    <div class="M-itemList__info">
                        <span class="M-itemList__info__year">NA</span>
                        <!-- <span class="M-itemList__info__capacity">500ml</span> -->
                        <!-- <span class="M-itemList__info__awards">RP 93</span> -->
                    </div>
                </div>
                
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal" aria-label="加入清單"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/BR00020007_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="M-itemList__item">
                <div class="M-itemList__wrap">
                    <h3 class="M-itemList__name">
                        <a href="#">
                           <span class="M-itemList__name--en">Auchentoshan</span>
                           <span class="M-itemList__name--cn">12年單一麥芽蘇格蘭威士忌（龍年禮盒）</span>
                        </a>
                    </h3>
                    <div class="M-itemList__info">
                        <span class="M-itemList__info__year">12</span>
                        <span class="M-itemList__info__capacity">700ml</span>
                        <!-- <span class="M-itemList__info__awards">RP 93</span> -->
                    </div>
                </div>
                
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --fast">9605</span></td>
                        <td><button class="deliveryBTN--fast" aria-label="加入清單"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/WWI00001015_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
            </div>
        </div>
        
    </div>
</section>