<section class="M-itemList">
    <h3 class="M-itemList__title">最新降價</h3>
    <div class="owl-carousel owl-theme M-itemList__items">
        <div class="item">
            <div class="M-itemList__item">
                <h4 class="M-itemList__name">
                    <a href="#">
                       <span class="M-itemList__name--en">Dom. René Leclerc</span>
                       <span class="M-itemList__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="M-itemList__info">
                    <span class="M-itemList__info__year">2018</span>
                    <span class="M-itemList__info__capacity">750ml</span>
                    <span class="M-itemList__info__awards">RP 93</span>
                </div>
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="M-itemList__item">
                <h4 class="M-itemList__name">
                    <a href="#">
                       <span class="M-itemList__name--en">Dom. René Leclerc</span>
                       <span class="M-itemList__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="M-itemList__info">
                    <span class="M-itemList__info__year">2018</span>
                    <span class="M-itemList__info__capacity">750ml</span>
                    <span class="M-itemList__info__awards">RP 93</span>
                </div>
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="M-itemList__item">
                <h4 class="M-itemList__name">
                    <a href="#">
                       <span class="M-itemList__name--en">Dom. René Leclerc</span>
                       <span class="M-itemList__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="M-itemList__info">
                    <span class="M-itemList__info__year">2018</span>
                    <span class="M-itemList__info__capacity">750ml</span>
                    <span class="M-itemList__info__awards">RP 93</span>
                </div>
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --fast">9605</span></td>
                        <td><button class="deliveryBTN--fast"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="M-itemList__item">
                <h4 class="M-itemList__name">
                    <a href="#">
                       <span class="M-itemList__name--en">Dom. René Leclerc</span>
                       <span class="M-itemList__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="M-itemList__info">
                    <span class="M-itemList__info__year">2018</span>
                    <span class="M-itemList__info__capacity">750ml</span>
                    <span class="M-itemList__info__awards">RP 93</span>
                </div>
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --normal">9605</span></td>
                        <td><button class="deliveryBTN--normal"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        <div class="item">
            <div class="M-itemList__item">
                <h4 class="M-itemList__name">
                    <a href="#">
                       <span class="M-itemList__name--en">Dom. René Leclerc</span>
                       <span class="M-itemList__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                    </a>
                </h4>
                <div class="M-itemList__info">
                    <span class="M-itemList__info__year">2018</span>
                    <span class="M-itemList__info__capacity">750ml</span>
                    <span class="M-itemList__info__awards">RP 93</span>
                </div>
                <table class="M-itemList__price">
                    <tr>
                        <td><span class="M-itemList__price--discount"></span></td>
                        <td><span class="M-itemList__price--sale --fast">9605</span></td>
                        <td><button class="deliveryBTN--fast"></button></td>
                    </tr>
                </table>
                <div class="M-itemList__pic">
                    <a href="#">
                        <div class="M-itemList__pic__wrap">
                            <img class="M-itemList__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA">
                        </div>
                    </a>
                    
                </div>
                <button class="favoriteBTN"><span></span></button>
            </div>
        </div>
        
    </div>
</section>