<section class="N-freeGift">
    <h2 class="N-freeGift__title">最新贈品活動</h2>
    <div class="owl-carousel owl-theme N-freeGift__items">
        <div class="N-freeGift__item">
            
                <h3 class="N-freeGift__name">
                    <a href="#">智利酒王 Errazuriz 12瓶送 Riedel 醒酒器</a>
                </h3>
                <div class="N-freeGift__price">市值 <span>1800</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_1.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            
        </div>
        <div class="N-freeGift__item">
            
                <h3 class="N-freeGift__name">
                    <a href="#">秘魯黑威堡全系列任選 2 瓶贈迷你酒書盒 50ml 三入組</a>
                </h3>
                <div class="N-freeGift__price">市值 <span>800</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_2.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            
        </div>
        <div class="N-freeGift__item">
            
                <h3 class="N-freeGift__name">
                    <a href="#">Jordan 紅酒成箱送 Riedel 酒杯</a>
                </h3>
                <div class="N-freeGift__price">市值 <span>2700</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_3.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            
        </div>
        <div class="N-freeGift__item">
            
                <h3 class="N-freeGift__name">
                    <a href="#">格蘭傑新包裝三款任選滿 $3,000 送原廠工裝背心</a>
                </h3>
                <div class="N-freeGift__price">市值 <span>500</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_4.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            
        </div>
        <div class="N-freeGift__item">
            
                <h3 class="N-freeGift__name">
                    <a href="#">神仙組合紅白 Grange 63 折 再送日本美學電烤盤</a>
                </h3>
                <div class="N-freeGift__price">市值<span>3290</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_5.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            
        </div>
        
    </div>
</section>