<section class="N-freeGift">
    <h2 class="N-freeGift__title">最新贈品活動</h2>
    <div class="owl-carousel owl-theme N-freeGift__items">
        <div class="item">
            <div class="N-freeGift__item">
                <h3 class="N-freeGift__name">
                    <a href="#">智利十大卡本內 買就送總價水晶雙杯</a>
                </h3>
                <div class="N-freeGift__price">市值 <span>1000</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_1.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="N-freeGift__item">
                <h3 class="N-freeGift__name">
                    <a href="#">智利十大卡本內 買就送總價水晶雙杯</a>
                </h3>
                <div class="N-freeGift__price">市值 <span>1000</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_2.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="N-freeGift__item">
                <h3 class="N-freeGift__name">
                    <a href="#">智利十大卡本內 買就送總價水晶雙杯</a>
                </h3>
                <div class="N-freeGift__price">市值 <span>1000</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_3.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="N-freeGift__item">
                <h3 class="N-freeGift__name">
                    <a href="#">智利十大卡本內 買就送總價水晶雙杯</a>
                </h3>
                <div class="N-freeGift__price">市值 <span>1000</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_4.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="N-freeGift__item">
                <h3 class="N-freeGift__name">
                    <a href="#">智利十大卡本內 買就送總價水晶雙杯</a>
                </h3>
                <div class="N-freeGift__price">市值<span>1000</span></div>
                <div class="N-freeGift__pic">
                    <a href="#">
                        <div class="N-freeGift__pic__wrap">
                            <img class="N-freeGift__pic__img" src="../assets/images/gift_5.png" alt="水晶雙杯組">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</section>