<section class="O-articles-activity">
    <h2 class="O-articles-activity__title">編寫<span>編</span>喝</h2>
    <div class="owl-carousel owl-theme O-articles-activity__items">
        <div class="item">
            <a class="O-articles-activity__item" href="#">
                <h3 class="O-articles-activity__caption">獅鳩與獵鷹的飛翔風味</h3>
                <p class="O-articles-activity__intro">
                    <span class="O-articles-activity__intro--content">五月初旬，iCheers有幸受到義大利酒專業代理商邀請，參與鷹鳩酒莊（Grifalco Vini）莊主 - 羅倫佐．皮辛（Lorenzo Piccin）訪台品飲會。帥氣的羅倫佐身著一襲灰色休閒西裝，可愛地體驗台北捷運至品飲會場。適逢立夏剛過、逐漸步入梅雨季，外頭迷濛細雨與略悶濕的天氣，莊主想必感受到台灣典型的夏日。</span>
                    <span class="O-articles-activity__intro--more">more</span>
                </p>
                <div class="O-articles-activity__pic"><img class="O-articles-activity__img" src="../assets/images/illu_wine_1.svg" alt="caymus"></div>
            </a>
        </div>
        <div class="item">
            <a class="O-articles-activity__item" href="#">
                <h3 class="O-articles-activity__caption">獅鳩與獵鷹的飛翔風味</h3>
                <p class="O-articles-activity__intro">
                    <span class="O-articles-activity__intro--content">五月初旬，iCheers有幸受到義大利酒專業代理商邀請，參與鷹鳩酒莊（Grifalco Vini）莊主 - 羅倫佐．皮辛（Lorenzo Piccin）訪台品飲會。帥氣的羅倫佐身著一襲灰色休閒西裝，可愛地體驗台北捷運至品飲會場。適逢立夏剛過、逐漸步入梅雨季，外頭迷濛細雨與略悶濕的天氣，莊主想必感受到台灣典型的夏日。</span>
                    <span class="O-articles-activity__intro--more">more</span>
                </p>
                <div class="O-articles-activity__pic"><img class="O-articles-activity__img" src="../assets/images/illu_wine_2.svg" alt="caymus"></div>
            </a>
        </div>
        <div class="item">
            <a class="O-articles-activity__item" href="#">
                <h3 class="O-articles-activity__caption">獅鳩與獵鷹的飛翔風味</h3>
                <p class="O-articles-activity__intro">
                    <span class="O-articles-activity__intro--content">五月初旬，iCheers有幸受到義大利酒專業代理商邀請，參與鷹鳩酒莊（Grifalco Vini）莊主 - 羅倫佐．皮辛（Lorenzo Piccin）訪台品飲會。帥氣的羅倫佐身著一襲灰色休閒西裝，可愛地體驗台北捷運至品飲會場。適逢立夏剛過、逐漸步入梅雨季，外頭迷濛細雨與略悶濕的天氣，莊主想必感受到台灣典型的夏日。</span>
                    <span class="O-articles-activity__intro--more">more</span>
                </p>
                <div class="O-articles-activity__pic"><img class="O-articles-activity__img" src="../assets/images/illu_wine_3.svg" alt="caymus"></div>
            </a>
        </div>
        
    </div>
</section>