<section class="Q-articles-items">
    <h3 class="Q-articles-items__title">熱門文章</h3>
    <div class="owl-carousel owl-theme Q-articles-items__articles">
        <div class="item">
            <div class="Q-articles-items__article">
                <div class="Q-articles-items__topic">
                    <span>01</span>&frasl;<span>酒莊好文</span>
                </div>
                <h4 class="Q-articles-items__caption">
                    <span class="Q-articles-items__caption--main">可酌飲的澄陽</span>
                    <span class="Q-articles-items__caption--minor">Château d'Yquem 伊更堡</span>  
                </h4>
                <div class="Q-articles-items__pic">
                    <div class="Q-articles-items__pic__wrap"><img class="Q-articles-items__pic__img" src="../assets/images/article_dYquem_1.png" alt="caymus"></div>
                    <div class="Q-articles-items__pic__wrap"><img class="Q-articles-items__pic__img" src="../assets/images/article_dYquem_2.png" alt="caymus"></div>
                </div>
                <p class="Q-articles-items__intro">
                    <span class="Q-articles-items__intro--paragraph">甜酒釀法多樣，其中貴腐霉甜酒最為識飲者稱道。這領域裡有兩雄稱霸天，一是德國伊貢‧米勒 (Egon Müller) 酒莊的 TBA 等級貴腐酒，另一聲名愈加盈耳的王者是法國波爾多索甸次產區的伊更堡(Château d’Yquem)。 在索甸與巴薩克產區裡，伊更是唯一被列為優等一級(Premier Cru Supérieur)者，傲視其他一、二級酒莊，成為法國最具代表性的甜酒之王。</span>
                    <span class="Q-articles-items__intro--paragraph --more">從伊更王的青年到風霜日暮，各有攝人氣象，其壯年風華是伊更較為人熟知的風貌。熟美的伊肯堡，酒色金黃光暈澄透而耀眼；入喉圓滑脂美，溫潤有骨，型態清晰明確，適切的酸將其精雕成玉樹臨風，有肌理，身段實。風格雄渾、暗含勁道卻不魯莽；口啖蜜香、洋槐、桃、梨，直到遇見安達魯西亞的橙樹花開，均泊泊泌流，香料沁入味蕾底處。尾聲，樂音和諧傳唱，悠揚和緩，遠處，光曦微亮，你又看到柳暗花明，又一轉韻。</span>
                    <span class="Q-articles-items__intro--flip">
                        <span class="readmore"></span>
                        <span class="readless" style="display: none;"></span>
                    </span>
                </p>
                
                <div class="owl-carousel owl-theme Q-articles-items__items">
                    <div class="item">
                        <div class="Q-articles-items__item">
                            <div class="Q-articles-items__item__info">
                                <h5 class="Q-articles-items__item__name">
                                    <span class="Q-articles-items__item__name--en">Dom. René Leclerc</span>
                                    <span class="Q-articles-items__item__name--cn">哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                                </h5>
                                <div class="Q-articles-items__item__price">最低<span>4870</span><a href="#">查看酒款</a></div>
                                <button class="favoriteBTN"><span></span></button>
                            </div>
                            <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00261001_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="Q-articles-items__item">
                            <div class="Q-articles-items__item__info">
                                <h5 class="Q-articles-items__item__name">
                                    <span class="Q-articles-items__item__name--en">Dom. René Leclerc</span>
                                    <span class="Q-articles-items__item__name--cn">哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                                </h5>
                                <div class="Q-articles-items__item__price">最低<span>4870</span><a href="#">查看酒款</a></div>
                                <button class="favoriteBTN"><span></span></button>
                            </div>
                            <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00261001_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="Q-articles-items__article">
                <div class="Q-articles-items__topic">
                    <span>02</span>&frasl;<span>酒莊好文</span>
                </div>
                <h4 class="Q-articles-items__caption">
                    <span class="Q-articles-items__caption--main">可酌飲的澄陽</span>
                    <span class="Q-articles-items__caption--minor">Château d'Yquem 伊更堡</span>  
                </h4>
                <div class="Q-articles-items__pic">
                    <div class="Q-articles-items__pic__wrap"><img class="Q-articles-items__pic__img" src="../assets/images/article_dYquem_1.png" alt="caymus"></div>
                    <div class="Q-articles-items__pic__wrap"><img class="Q-articles-items__pic__img" src="../assets/images/article_dYquem_2.png" alt="caymus"></div>
                </div>
                <p class="Q-articles-items__intro">
                    <span class="Q-articles-items__intro--paragraph">甜酒釀法多樣，其中貴腐霉甜酒最為識飲者稱道。這領域裡有兩雄稱霸天，一是德國伊貢‧米勒 (Egon Müller) 酒莊的 TBA 等級貴腐酒，另一聲名愈加盈耳的王者是法國波爾多索甸次產區的伊更堡(Château d’Yquem)。 在索甸與巴薩克產區裡，伊更是唯一被列為優等一級(Premier Cru Supérieur)者，傲視其他一、二級酒莊，成為法國最具代表性的甜酒之王。</span>
                    <span class="Q-articles-items__intro--paragraph --more">從伊更王的青年到風霜日暮，各有攝人氣象，其壯年風華是伊更較為人熟知的風貌。熟美的伊肯堡，酒色金黃光暈澄透而耀眼；入喉圓滑脂美，溫潤有骨，型態清晰明確，適切的酸將其精雕成玉樹臨風，有肌理，身段實。風格雄渾、暗含勁道卻不魯莽；口啖蜜香、洋槐、桃、梨，直到遇見安達魯西亞的橙樹花開，均泊泊泌流，香料沁入味蕾底處。尾聲，樂音和諧傳唱，悠揚和緩，遠處，光曦微亮，你又看到柳暗花明，又一轉韻。</span>
                    <span class="Q-articles-items__intro--flip">
                        <span class="readmore"></span>
                        <span class="readless" style="display: none;"></span>
                    </span>
                </p>
                
                <div class="owl-carousel owl-theme Q-articles-items__items">
                    <div class="item">
                        <div class="Q-articles-items__item">
                            <div class="Q-articles-items__item__info">
                                <h5 class="Q-articles-items__item__name">
                                    <span class="Q-articles-items__item__name--en">Dom. René Leclerc</span>
                                    <span class="Q-articles-items__item__name--cn">哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                                </h5>
                                <div class="Q-articles-items__item__price">最低<span>4870</span><a href="#">查看酒款</a></div>
                                <button class="favoriteBTN"><span></span></button>
                            </div>
                            <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00261001_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="Q-articles-items__item">
                            <div class="Q-articles-items__item__info">
                                <h5 class="Q-articles-items__item__name">
                                    <span class="Q-articles-items__item__name--en">Dom. René Leclerc</span>
                                    <span class="Q-articles-items__item__name--cn">哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                                </h5>
                                <div class="Q-articles-items__item__price">最低<span>4870</span><a href="#">查看酒款</a></div>
                                <button class="favoriteBTN"><span></span></button>
                            </div>
                            <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00261001_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>