<section class="Q-articles-items">
    <h2 class="Q-articles-items__title">熱門文章</h2>
    <div class="owl-carousel owl-theme Q-articles-items__articles">
        <div class="item">
            <div class="Q-articles-items__article">
                <div class="Q-articles-items__topic">
                    <span>01</span>&frasl;<span>酒莊好文</span>
                </div>
                <h3 class="Q-articles-items__caption">
                    <span class="Q-articles-items__caption--main">可酌飲的澄陽</span>
                    <span class="Q-articles-items__caption--minor">Château d'Yquem 伊更堡</span>  
                </h3>
                <div class="Q-articles-items__pic">
                    <div class="Q-articles-items__pic__wrap"><img class="Q-articles-items__pic__img" src="../assets/images/article_dYquem_1.png" alt="caymus"></div>
                    <div class="Q-articles-items__pic__wrap"><img class="Q-articles-items__pic__img" src="../assets/images/article_dYquem_2.png" alt="caymus"></div>
                </div>
                <p class="Q-articles-items__intro">
                    <span class="Q-articles-items__intro--paragraph">甜酒釀法多樣，其中貴腐霉甜酒最為識飲者稱道。這領域裡有兩雄稱霸天，一是德國伊貢‧米勒 (Egon Müller) 酒莊的 TBA 等級貴腐酒，另一聲名愈加盈耳的王者是法國波爾多索甸次產區的伊更堡(Château d’Yquem)。 在索甸與巴薩克產區裡，伊更是唯一被列為優等一級(Premier Cru Supérieur)者，傲視其他一、二級酒莊，成為法國最具代表性的甜酒之王。</span>
                    <span class="Q-articles-items__intro--paragraph --more">從伊更王的青年到風霜日暮，各有攝人氣象，其壯年風華是伊更較為人熟知的風貌。熟美的伊肯堡，酒色金黃光暈澄透而耀眼；入喉圓滑脂美，溫潤有骨，型態清晰明確，適切的酸將其精雕成玉樹臨風，有肌理，身段實。風格雄渾、暗含勁道卻不魯莽；口啖蜜香、洋槐、桃、梨，直到遇見安達魯西亞的橙樹花開，均泊泊泌流，香料沁入味蕾底處。尾聲，樂音和諧傳唱，悠揚和緩，遠處，光曦微亮，你又看到柳暗花明，又一轉韻。<br>
                        從伊更王的青年到風霜日暮，各有攝人氣象，其壯年風華是伊更較為人熟知的風貌。熟美的伊肯堡，酒色金黃光暈澄透而耀眼；入喉圓滑脂美，溫潤有骨，型態清晰明確，適切的酸將其精雕成玉樹臨風，有肌理，身段實。風格雄渾、暗含勁道卻不魯莽；口啖蜜香、洋槐、桃、梨，直到遇見安達魯西亞的橙樹花開，均泊泊泌流，香料沁入味蕾底處。尾聲，樂音和諧傳唱，悠揚和緩，遠處，光曦微亮，你又看到柳暗花明，又一轉韻。<br>
                        從伊更王的青年到風霜日暮，各有攝人氣象，其壯年風華是伊更較為人熟知的風貌。熟美的伊肯堡，酒色金黃光暈澄透而耀眼；入喉圓滑脂美，溫潤有骨，型態清晰明確，適切的酸將其精雕成玉樹臨風，有肌理，身段實。風格雄渾、暗含勁道卻不魯莽；口啖蜜香、洋槐、桃、梨，直到遇見安達魯西亞的橙樹花開，均泊泊泌流，香料沁入味蕾底處。尾聲，樂音和諧傳唱，悠揚和緩，遠處，光曦微亮，你又看到柳暗花明，又一轉韻。<br>
                        從伊更王的青年到風霜日暮，各有攝人氣象，其壯年風華是伊更較為人熟知的風貌。熟美的伊肯堡，酒色金黃光暈澄透而耀眼；入喉圓滑脂美，溫潤有骨，型態清晰明確，適切的酸將其精雕成玉樹臨風，有肌理，身段實。風格雄渾、暗含勁道卻不魯莽；口啖蜜香、洋槐、桃、梨，直到遇見安達魯西亞的橙樹花開，均泊泊泌流，香料沁入味蕾底處。尾聲，樂音和諧傳唱，悠揚和緩，遠處，光曦微亮，你又看到柳暗花明，又一轉韻。<br>
                        從伊更王的青年到風霜日暮，各有攝人氣象，其壯年風華是伊更較為人熟知的風貌。熟美的伊肯堡，酒色金黃光暈澄透而耀眼；入喉圓滑脂美，溫潤有骨，型態清晰明確，適切的酸將其精雕成玉樹臨風，有肌理，身段實。風格雄渾、暗含勁道卻不魯莽；口啖蜜香、洋槐、桃、梨，直到遇見安達魯西亞的橙樹花開，均泊泊泌流，香料沁入味蕾底處。尾聲，樂音和諧傳唱，悠揚和緩，遠處，光曦微亮，你又看到柳暗花明，又一轉韻。<br>
                        從伊更王的青年到風霜日暮，各有攝人氣象，其壯年風華是伊更較為人熟知的風貌。熟美的伊肯堡，酒色金黃光暈澄透而耀眼；入喉圓滑脂美，溫潤有骨，型態清晰明確，適切的酸將其精雕成玉樹臨風，有肌理，身段實。風格雄渾、暗含勁道卻不魯莽；口啖蜜香、洋槐、桃、梨，直到遇見安達魯西亞的橙樹花開，均泊泊泌流，香料沁入味蕾底處。尾聲，樂音和諧傳唱，悠揚和緩，遠處，光曦微亮，你又看到柳暗花明，又一轉韻。
                    </span>
                    <span class="Q-articles-items__intro--flip">
                        <span class="readmore"></span>
                        <span class="readless" style="display: none;"></span>
                    </span>
                </p>
                
                <div class="owl-carousel owl-theme Q-articles-items__items">
                    <div class="Q-articles-items__item">
                            <div class="Q-articles-items__item__info">
                                <h4 class="Q-articles-items__item__name">
                                    <span class="Q-articles-items__item__name--en">Dom. René Leclerc</span>
                                    <span class="Q-articles-items__item__name--cn">哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                                </h4>
                                <div class="Q-articles-items__item__price">最低<span>4870</span><a href="#">查看酒款</a></div>
                                <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
                            </div>
                            <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00261001_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                    </div>
                    <div class="Q-articles-items__item">
                        <div class="Q-articles-items__item__info">
                            <h4 class="Q-articles-items__item__name">
                                <span class="Q-articles-items__item__name--en">Dom. René Leclerc</span>
                                <span class="Q-articles-items__item__name--cn">哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                            </h4>
                            <div class="Q-articles-items__item__price">最低<span>4870</span><a href="#">查看酒款</a></div>
                            <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
                        </div>
                        <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00261001_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                    </div>
                    <div class="Q-articles-items__item">
                        <div class="Q-articles-items__item__info">
                            <h4 class="Q-articles-items__item__name">
                                <span class="Q-articles-items__item__name--en">Dom. René Leclerc</span>
                                <span class="Q-articles-items__item__name--cn">哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                            </h4>
                            <div class="Q-articles-items__item__price">最低<span>4870</span><a href="#">查看酒款</a></div>
                            <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
                        </div>
                        <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00261001_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="Q-articles-items__article">
                <div class="Q-articles-items__topic">
                    <span>02</span>&frasl;<span>酒莊好文</span>
                </div>
                <h3 class="Q-articles-items__caption">
                    <span class="Q-articles-items__caption--main">澳視群雄</span>
                    <span class="Q-articles-items__caption--minor">Chris Ringland</span>  
                </h3>
                <div class="Q-articles-items__pic">
                    <div class="Q-articles-items__pic__wrap"><img class="Q-articles-items__pic__img" src="../assets/images/article_ChrisRingland_1.jpg" alt="caymus"></div>
                    <div class="Q-articles-items__pic__wrap"><img class="Q-articles-items__pic__img" src="../assets/images/article_ChrisRingland_2.jpg" alt="caymus"></div>
                </div>
                <p class="Q-articles-items__intro">
                    <span class="Q-articles-items__intro--paragraph">已和強勁飽滿Barossa Shiraz劃上等號的Chris Ringland，出身於紐西蘭奧克蘭（Auckland）。1982年，Chris畢業於澳洲羅斯沃斯農學院（Roseworthy Agricultural College）的釀造培養計畫。回到紐西蘭幾年後，他前往美國加州汲取經驗，後回到了澳洲的Barossa Valley。在宗師級的Robert O'Callaghan的邀請下，Chris在他的酒莊 - Rockford Wines待上了18個年頭。</span>
                    <span class="Q-articles-items__intro--paragraph --more">在Rockford的工作期間，Chris持續添購葡萄並自己釀酒，於1989年分推出知名的"Three Rivers" Shiraz，這款酒的果實購自多地塊的葡萄農。"Three Rivers" 的1995年分，加入他位在Eden Valley上的Stone Chimney Creek、當中百年老藤的葡萄。<br>
                        肇因於美國的商標爭議，"Three Rivers"於1998年更名為"Dry Grown Barossa Ranges" Shiraz。這款酒躋身於「蘭頓分級」（Langton's Classification）中唯22款列位「超級」（exceptional）的酒款，之中包含Penfolds的"Bin 95 - Grange"、Henschke的"Hill of Grace" Eden Valley、以及Clarendon Hills的"Astralis"等。<br>
                        活力充沛的Chris不局限自己，常有各項計畫執行在手，如2002年在西班牙Jumilla的El Nido與Campo de Borja的Alto Moncayo；2006年則與五代酒農Adrian Hoffmann、Nathan Burley合作，開啟Hoffmann Vineyard計畫；Chris另也主持專注澳洲Nebbiolo的Solita計畫。<br>
                        "Chris style is all about roundness on the palate, no hard edges." - Nathan Burley <br>
                        關於Chris Ringland的高酒精濃度問題，Nathan Burley這次訪台提出了解釋：酒精濃度並非目的，而是Chris追求「圓潤」（roundness）不可避免的後果。那動輒四年的長時間木桶培養，甚至300公升豬頭桶（Hogshead）的選用，均為了造就那珠圓玉潤的質地。<br>
                        若葡萄不到某程度的生理成熟（physiological maturity），如手指觸碰到很柔軟的果皮，萃取出的風味無法支撐長時間的木桶培養，進而拋光酒質。要達到如此成熟度，勢必得延後採收。這除了讓葡萄持續累積糖分，在某些乾旱年分，果肉內的水分更容易蒸發，進而提高糖對水的比例。<br>
                        含高糖分的葡萄不利於酒精發酵，Chris選用來自法國Champagne的人工培養酵母，這種酵母能在艱困環境下生存並發酵。晚採收可能產生的揮發性酸（VA，volatile acidity）過高問題，讓Chris和Nathan在釀造時經常監控VA的含量，尤其在乳酸發酵（malolactic fermentation）的階段更加留意。<br>
                        特別培育的酵母對酒精有更高的耐受度，自然能將高熟度葡萄中的高糖分，轉換為更高的酒精濃度。造成高酒精濃度的另一個原因，便是長時間的木桶培養。在炎熱乾燥的氣候條件下，木桶中水分蒸發的「天使的分享」（angel's share）現象，進一步提高了酒精濃度。<br>
                        對於是否使用逆滲透（RO，reverse osmosis）或旋轉錐體（spinning cone）等現代科技，達到提高酒精濃度的目的，Nathan在現場直接否認。畢竟對Chris來說，高酒精濃度不是目的，只是造就圓潤酒質的結果。<br>
                        <!-- Solita計畫<br>
                        始於2004年與酒評Nick Stock合作開啟的Solita計畫，Nebbiolo搜羅自Adelaide Hills南部的Longview葡萄園。這特殊葡萄園於1990年代由Duncan MacGillivray闢立，如今持有者為Saturno家族。"Solita"並非每年都推出，有些乾旱的年分、土壤無法保有足夠水分供Nebbiolo生長，如2009、2011、2012和2014便沒有釀造。<br>
                        用於釀造"Solita"的Nebbiolo葡萄藤未經嫁接，長於東北向陽面的陡峭斜坡，海拔320-335公尺，由四個無性繁殖系（clone）組成：230（提供顏色）、1-11（較無顏色，取其香氣）、F12V7與F12V13（兩者源於義大利Piemonte大區，後於加州UCLA培育，能提供緊緻酒體與酸度）。土層爲紅土（terra rossa）覆蓋於石灰岩；土壤保水性對Nebbiolo尤為重要，這是個需要大量水分的葡萄品種。<br>
                        採收後的果實悉數除梗後，原生酵母於600公升的demi-muid新橡木桶中行酒精發酵。發酵完成的酒液於橡木桶中培養18-36個月，接續於瓶中靜置最長可達十年。<br>
                        產量僅720瓶、於demi-muid新橡木桶培養48個月的"Solita" Nebbiolo (2016) ，果香四溢：優雅紅色小莓果主調，些許西瓜與草莓果醬甜潤，更底層的乾燥樹葉碎片，交融檸檬、薄荷清涼與一抹鮮韻。約莫30分鐘後，圓融甜香料浮現，香草豆莢帶焦糖。如細砂紙般的單寧質地，融化於多汁莓果風味中，尾韻酸扭擰與細微苦感。<br>
                        二軍酒 - "Dry Grown Randall's Hill"<br>
                        在Rockford工作期間的Chris，於1994年看中一塊位在Barossa無人聞問的小葡萄園。當時澳洲葡萄酒產業景氣低迷，葡萄賤價出售，果農很難維持生計。Chris相中的那1.4公頃地塊，被遺棄的Shiraz葡萄藤種於陡峭斜坡上。<br>
                        「這些非常古老的葡萄藤狀況還不錯，但需要注入很大的心力維護。你沒有看錯。⋯ 你買下這塊地，Rockford會包下結出的果實。」<br>
                        在得到當時老闆Robert O'Callaghan的肯定與承諾後，Chris買了這塊葡萄園。這座葡萄園歷經接下來十年的勞心勞碌，得以完成重建。地塊南側原先種植五排的Riesling葡萄藤，Chris決定於1999年全數拔除，改種嫁接後的Shiraz。因採旱作，葡萄藤經過了十年才結出果實。<br>
                        最初的1995年分於Rockford榨汁，一半賣給了Robert，Chris自己釀造剩餘來自較乾燥、東北向陽面的部分。經歷一年的木桶培養，Chris發現葡萄園南北側釀出不同性格的葡萄酒。他決定將四桶中水果調性主導的兩桶獨立而出，創造二軍品牌 - "Dry Grown Randall's Hill"。之所以如此命名，是為了向1910年於此種下葡萄藤的持有者 - Thomas Randall致意。<br>
                        從1995-2014年間，"Randall's Hill"僅推出五個年分（即1995、1997、2010、2013、2014）。果實原則上來自較年輕的葡萄藤，或是不符合"Dry Grown Barossa Ranges"、水果風味主導風格的橡木桶。<br>
                        於新法國豬頭桶培養42個月的"Dry Grown Randall's Hill" Shiraz (2014) ，產量僅1,300瓶，每一瓶編號都會出現在酒標。石塊遍布的初嗅意象，灑滿泥土、黑胡椒、綠荳蔻與乾燥橘皮，一股尤加利揚升調。飽滿圓融的超熟黑李充斥其中，再一層烘烤木塊、煙燻和鮮韻綴飾。勁度帶出環繞口腔的單寧結構，成熟滑順且有濃郁黑色莓果於中段，幽微草本調性。流暢的整體節奏，尾端無殘糖感，俐落帶些許單寧搔抓感。<br>
                        Chris Ringland本計畫延伸<br>
                        延伸自Chris Ringland本計畫，專為美國與亞洲海外市場推出的Barossa Shiraz ，澳洲本土並未販售。果實來自Barossa的Western Ridge與Moppa子產區，土層為棕紅壤土覆蓋於石灰岩。釀造完成的酒液，於Barossa傳統常用的豬頭桶中培養18個月。
深色水果主調的Barossa Shiraz (2019) ，明顯鐵鏽與胡椒辛香。桑椹帶些微揮發性酸於晃杯後浮現，挾帶煙燻、烘烤木塊、青香蕉、一絲綠荳蔻，外圍紫羅蘭花香環繞。果韻為主的口味調性，成熟且平順的單寧質地，緩緩冒出胡椒與深色莓果，伴隨少許酒精灼燒。<br>
                        Hoffmann Vineyard計畫<br>
                        Chris已與五代酒農Adrian Hoffmann發展Hoffmann Vineyard超過25年，該計畫重新定義葡萄農和釀酒師間的關係。兩者傳統上有著互異的思考角度，釀酒師需就採收要求與日後葡萄酒的風格，不斷與種植者溝通。和Adrian合作時，Chris的釀造技藝可無縫相契 Hoffmann世代累積的種植經驗。<br>
                        Hoffmann Vineyard計畫的果實，來自Barossa Valley北端的Ebenezer子產區，之中Hoffmann家族與鄰居的多個Shiraz葡萄園。葡萄輕柔除梗後，小批次釀造。在橡木桶培養24個月後，便進行初步的桶邊試飲與分級，之後每6-9個月重複，直至各混調完成。在"Dimchurch"確定裝瓶後，"Hoffmann Vineyard"通常會在橡木桶中延長陳年6-12個月。<br>
                        稍介紹該計畫的各葡萄園：<br>
                        - Home Dam（0.73公頃）：來自Dallwitz Old的Shiraz 扦插於1964年栽下。整個地塊由北至南減緩，含有三種類型的土壤，被兩道古老河床區隔。該葡萄園結出具典型Shiraz特徵的果串，中等至大的果粒間隙稀疏。<br>
                        - Home VSP Shiraz（2.36公頃）：前身為杏桃果園，1997種下BVRC 30無性繁殖系的Shiraz，以及由Roehr與Schrapel老藤中選出的扦插。地貌為北往南的緩坡，北側含較多的易碎石灰質土層，深度在40-50公分。普遍果串尺寸中等緊實，果粒小至中等。<br>
                        - Dairy（5.08公頃）：得名自曾在這畜牧的乳牛群。於1998年種下葡萄藤，採用BVRC 30 Shiraz無性繁殖系，以及由Dallwitz Old和Home Old 選出的扦插。南側葡萄藤長在最肥沃的土壤上。該葡萄園結出具典型Shiraz特徵的果串：成串長、上側寬、中等果粒間隙稀疏。<br>
                        - Dallwitz Old（2.64公頃）：於1945年由Dallwitz家族購得，葡萄藤最早遠溯至1888年。地勢整體平坦，中間稍微隆起。這裡的葡萄藤結出內部稀鬆的長果串，果粒尺寸中等。<br>
                        - Dallwitz VSP（4.9公頃）：於1994-1996年間闢立，扦插來自酒莊各古老地塊。同樣中央稍隆起，偏低窪處土壤結出具小且緊實果粒的小果串。普遍果串尺寸中等，結構密實帶小至中等的果粒。<br>
                        - Geisler（2.78公頃）：1900年代由Geisler家族手中買下，直至1999年才自Dallwitz Old與Dallwitz Top截下扦插。整體斜坡走向由東北往西南。傑出的Shiraz果實為中等且稀疏的果串，果粒尺寸小至中等。<br>
                        - Home Old Shiraz（1.7公頃）：1951-1952耗費兩年闢建，3/4的扦插來自1880年代種於此的葡萄藤，其餘篩選自1940年代晚期的初代老藤。斜坡整體走向由北漸緩至南，南側壤土比例較多。結出的果串偏長，中等尺寸的果粒間隙稀鬆。<br>
                        - Dallwitz Top（2.57公頃）：來自Dallwitz Old的Shiraz 扦插於1964年栽下。整個地塊由北至南減緩，含有三種類型的土壤，被兩道古老河床區隔。該葡萄園結出具典型Shiraz特徵的果串，中等至大的果粒間隙稀疏。<br>
                        - E. R. "94"（1.34公頃）：誠如其名所示，BVRC 30與1654 Shiraz無性繁殖系於1994年種下。地勢自西往東緩降，土層由砂質壤土逐漸轉向壤土混合黏土。該葡萄園結出具典型Shiraz特徵的果串，中等果粒間隙稀疏。<br>
                        蝸牛系筆記<br>
                        用來釀造"Reservation"的Shiraz果實，來自Barossa西北的12位葡萄農，包含了Ebenezer、Nuri和Moppa子產區，該區域土壤組成為紅褐壤土覆蓋石灰岩。Chris企圖於"Reservation"營造西北Barossa Shiraz的典型風格：黑莓混合甜美黑李果醬，香甜紅色莓果、牛奶巧克力與細膩香草豆莢風味的口感。<br>
                        於新法國豬頭桶培養52個月的"Reservation" Barossa Valley Shiraz (2016) ，葡萄藤平均年齡在15-45歲之間。金屬螺旋蓋封瓶，透露出Chris對其水果風味主導、年輕易飲風格的想法。蔓越莓、覆盆子、藍莓、黑櫻桃等深色和紅色莓果，整體偏輕盈的香氣輪廓，另有胡椒、薑與廣藿香深層氣味，一抹玫瑰花瓣、泥土混合柑橘切片。圓潤近似油滑的質地，單寧成熟滑順，果乾風味填充。中段過後，香草豆莢與烘烤杏仁浮現，愈末帶出葡萄乾和無花果。<br>
                        集合Ebenezer子產區 12位葡萄農的果實，當中不乏Hoffmann家族的鄰居、朋友和親戚。於豬頭桶培養38個月的North Barossa Shiraz (2017) ，初嗅稍羞赧帶明顯胡椒辛香，黑色水果主導帶一絲鮮香，不時浮現古物意象。更深層的辣椒與薑深沉調，埋伏其下的烘烤木塊、咖啡和一道蝦膏。結構緊實，風味黏附於單寧帶出線條感，多汁果韻伴隨香草豆莢、巧克力與櫻桃果乾風味，尾端帶一絲微甜。<br>
                        在Hoffmann Vineyard中較具典型Barossa Shiraz特色的"Dimchurch" Barossa Shiraz (2015) ，於新法國豬頭桶培養長達56個月。焦糖、香草豆莢、活力橘乾混乾燥向日葵層次，新鮮櫻桃、草莓、藍莓、黑醋栗等紅色和深色莓果調性，底蘊菸草、黑胡椒、烘烤木塊與泥土。整體呈陽性意象的香氣輪廓。稍帶殘糖的口感，充沛酸度加以平衡，中段濃郁深色莓果風味。漸轉果乾帶成熟單寧覆蓋感，核果及巧克力緩緩冒出，微甜相伴帶內縮張力。<br>
                        可稱Hoffmann Vineyard旗艦的"Hoffmann Vineyard" ，一般會在新法國木桶中培養五年以上，再根據每桶狀況調整調配比例。透過延長木桶培養的時間，表現出Shiraz的飽滿力道，同時結合柔軟饒富的單寧結構。<br>
                        於豬頭桶培養長達62個月的"Hoffmann Vineyard" Barossa Shiraz (2012) ，葡萄藤年齡在95-130歲之間。高熟度的深色水果，混合香草豆莢、焦糖和葡萄乾，漸拖拉出番紅花、濕石塊、黑胡椒，一絲辣椒、綠荳蔻與烘烤木塊。前端至中段微甜，天鵝絨質地，包裹整體飽滿圓柔滋味，尾韻綿長帶巧克力與咖啡風味。<br>
                        編撰 / Rex Ting -->
                    </span>
                    <a class="Q-articles-items__intro--flip" href="#">
                        <span class="readmore"></span>
                        <span class="readless" style="display: none;"></span>
                    </a>
                </p>
                
                <div class="owl-carousel owl-theme Q-articles-items__items">
                    <div class="Q-articles-items__item">
                        
                            <div class="Q-articles-items__item__info">
                                <h4 class="Q-articles-items__item__name">
                                    <span class="Q-articles-items__item__name--en">Chris Ringland</span>
                                    <span class="Q-articles-items__item__name--cn">克里斯蘭．「珍藏」希哈紅酒</span>
                                </h4>
                                <div class="Q-articles-items__item__price">最低<span>2250</span><a href="#">查看酒款</a></div>
                                <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
                            </div>
                            <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00192801_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                        
                    </div>
                    <div class="Q-articles-items__item">
                        
                            <div class="Q-articles-items__item__info">
                                <h4 class="Q-articles-items__item__name">
                                    <span class="Q-articles-items__item__name--en">Chris Ringland</span>
                                    <span class="Q-articles-items__item__name--cn">克里斯蘭．「北巴羅莎谷地」希哈紅酒</span>
                                </h4>
                                <div class="Q-articles-items__item__price">最低<span>2250</span><a href="#">查看酒款</a></div>
                                <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
                            </div>
                            <div class="Q-articles-items__item__picwrap"><img class="Q-articles-items__item__img" src="../assets/images/WI00192802_btl.png" alt="哲維瑞香貝丹「修士背斜谷」一級園紅酒"></div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>