<section class="R-keywords">
    <h3 class="R-keywords__title">熱門關鍵字</h3>
    <ul class="R-keywords__items">
        <li class="R-keywords__item"><a href="#">自然酒</a></li>
        <li class="R-keywords__item"><a href="#">橘酒</a></li>
        <li class="R-keywords__item"><a href="#">陶甕酒</a></li>
        <li class="R-keywords__item"><a href="#">膜拜酒</a></li>
        <li class="R-keywords__item"><a href="#">超級托斯卡尼</a></li>
        <li class="R-keywords__item"><a href="#">香檳</a></li>
        <li class="R-keywords__item"><a href="#">合作社</a></li>
        <li class="R-keywords__item"><a href="#">小農香檳</a></li>
        <li class="R-keywords__item"><a href="#">禮盒</a></li>
        <li class="R-keywords__item"><a href="#">RP 100</a></li>
        <li class="R-keywords__item"><a href="#">智利酒王</a></li>
        <li class="R-keywords__item"><a href="#">Opus One</a></li>
        <li class="R-keywords__item"><a href="#">總統用酒</a></li>
        <li class="R-keywords__item"><a href="#">美國酒王</a></li>
        <li class="R-keywords__item"><a href="#">稀世珍釀</a></li>
        <li class="R-keywords__item"><a href="#">滿分酒</a></li>
        <li class="R-keywords__item"><a href="#">傳統法</a></li>
        <li class="R-keywords__item"><a href="#">林裕森</a></li>
    </ul>
</section>