<section class="S_brands">
    <h3 class="S_brands__title">曾選購的酒莊</h3>
    <div class="owl-carousel owl-theme S_brands__items">
        <div class="item">
            <a class="S_brands__item" href="#">
                <h4 class="S_brands__name">
                    <span class="S_brands__name--en">Champagne Tendil & Lombardi</span>
                    <span class="S_brands__name--cn">潭龍香檳</span>
                </h4>
                <p class="S_brands__intro">
                    <span class="S_brands__intro--content">羅蘭．潭迪爾 (Laurent Tendil) 與史黛分．龍巴蒂 (Stéphane Lombardi) 是兩位出身里昂 (Lyon) 的雅痞企業家，自童年起即是摯友，長大後事業各自有成， 但沒從沒忘記共同的理想－合夥創立屬於自己的香檳 (Champagne) 品牌。 兩人在香檳區裡奔走多年，終於在2007年找到合作的葡萄園與釀酒設備，推出異軍突起的香檳新星－潭龍香檳 (Champagne Tendil & Lombardi)， 初試啼聲即大放異彩。</span>
                    <span class="S_brands__intro--more">more</span>
                </p>
                <div class="S_brands__bgpic"><img class="S_brands__img" src="../assets/images/winery_caymus.png" alt="caymus"></div>
                <div class="S_brands__pic"><img class="S_brands__img" src="../assets/images/logo_caymus.jpg" alt="caymus"></div>
            </a>
        </div>
        <div class="item">
            <a class="S_brands__item" href="#">
                <h4 class="S_brands__name">
                    <span class="S_brands__name--en">Champagne Tendil & Lombardi</span>
                    <span class="S_brands__name--cn">潭龍香檳</span>
                </h4>
                <p class="S_brands__intro">
                    <span class="S_brands__intro--content">羅蘭．潭迪爾 (Laurent Tendil) 與史黛分．龍巴蒂 (Stéphane Lombardi) 是兩位出身里昂 (Lyon) 的雅痞企業家，自童年起即是摯友，長大後事業各自有成， 但沒從沒忘記共同的理想－合夥創立屬於自己的香檳 (Champagne) 品牌。 兩人在香檳區裡奔走多年，終於在2007年找到合作的葡萄園與釀酒設備，推出異軍突起的香檳新星－潭龍香檳 (Champagne Tendil & Lombardi)， 初試啼聲即大放異彩。</span>
                    <span class="S_brands__intro--more">more</span>
                </p>
                <div class="S_brands__bgpic"><img class="S_brands__img" src="../assets/images/winery_caymus.png" alt="caymus"></div>
                <div class="S_brands__pic"><img class="S_brands__img" src="../assets/images/logo_caymus.jpg" alt="caymus"></div>
            </a>
        </div>
        <div class="item">
            <a class="S_brands__item" href="#">
                <h4 class="S_brands__name">
                    <span class="S_brands__name--en">Champagne Tendil & Lombardi</span>
                    <span class="S_brands__name--cn">潭龍香檳</span>
                </h4>
                <p class="S_brands__intro">
                    <span class="S_brands__intro--content">羅蘭．潭迪爾 (Laurent Tendil) 與史黛分．龍巴蒂 (Stéphane Lombardi) 是兩位出身里昂 (Lyon) 的雅痞企業家，自童年起即是摯友，長大後事業各自有成， 但沒從沒忘記共同的理想－合夥創立屬於自己的香檳 (Champagne) 品牌。 兩人在香檳區裡奔走多年，終於在2007年找到合作的葡萄園與釀酒設備，推出異軍突起的香檳新星－潭龍香檳 (Champagne Tendil & Lombardi)， 初試啼聲即大放異彩。</span>
                    <span class="S_brands__intro--more">more</span>
                </p>
                <div class="S_brands__bgpic"><img class="S_brands__img" src="../assets/images/winery_caymus.png" alt="caymus"></div>
                <div class="S_brands__pic"><img class="S_brands__img" src="../assets/images/logo_caymus.jpg" alt="caymus"></div>
            </a>
        </div>
        <div class="item">
            <a class="S_brands__item" href="#">
                <h4 class="S_brands__name">
                    <span class="S_brands__name--en">Champagne Tendil & Lombardi</span>
                    <span class="S_brands__name--cn">潭龍香檳</span>
                </h4>
                <p class="S_brands__intro">
                    <span class="S_brands__intro--content">羅蘭．潭迪爾 (Laurent Tendil) 與史黛分．龍巴蒂 (Stéphane Lombardi) 是兩位出身里昂 (Lyon) 的雅痞企業家，自童年起即是摯友，長大後事業各自有成， 但沒從沒忘記共同的理想－合夥創立屬於自己的香檳 (Champagne) 品牌。 兩人在香檳區裡奔走多年，終於在2007年找到合作的葡萄園與釀酒設備，推出異軍突起的香檳新星－潭龍香檳 (Champagne Tendil & Lombardi)， 初試啼聲即大放異彩。</span>
                    <span class="S_brands__intro--more">more</span>
                </p>
                <div class="S_brands__bgpic"><img class="S_brands__img" src="../assets/images/winery_caymus.png" alt="caymus"></div>
                <div class="S_brands__pic"><img class="S_brands__img" src="../assets/images/logo_caymus.jpg" alt="caymus"></div>
            </a>
        </div>
        
    </div>
</section>