<section class="T-setPrice">
    <h2 class="T-setPrice__title">成箱優惠</h2>
    <div class="owl-carousel owl-theme T-setPrice__items">
        <div class="T-setPrice__item">
            <h3 class="T-setPrice__name">
                <a href="#">
                    <span class="T-setPrice__name--en">Dom. René Leclerc</span>
                    <span class="T-setPrice__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                </a>
            </h3>
            <div class="T-setPrice__info">
                <span class="T-setPrice__info__year">2018</span>
                <span class="T-setPrice__info__capacity">750ml</span>
                <span class="T-setPrice__info__awards">RP 93</span>
            </div>
            <table class="T-setPrice__price">
                <tr>
                    <td></td>
                    <td><span class="T-setPrice__price--original">11300</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="T-setPrice__price--discount"></span></td>
                    <td><span class="T-setPrice__price--sale --normal">9605</span>&frasl;&thinsp;瓶</td>
                    <td><button class="deliveryBTN--normal" aria-label="加入清單"></button></td>
                </tr>
            </table>
            <div class="T-setPrice__pic">
                <a href="#">
                    <div class="T-setPrice__pic__wrap"><img class="T-setPrice__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA"></div>
                    <span class="T-setPrice__pic__x">x</span>
                    <span class="T-setPrice__pic__quantity">24</span>
                </a>
            </div>
            <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
        </div>
        <div class="T-setPrice__item">
            <h3 class="T-setPrice__name">
                <a href="#">
                    <span class="T-setPrice__name--en">Dom. René Leclerc</span>
                    <span class="T-setPrice__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                </a>
            </h3>
            <div class="T-setPrice__info">
                <span class="T-setPrice__info__year">2018</span>
                <span class="T-setPrice__info__capacity">750ml</span>
                <span class="T-setPrice__info__awards">RP 93</span>
            </div>
            <table class="T-setPrice__price">
                <tr>
                    <td></td>
                    <td><span class="T-setPrice__price--original">11300</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="T-setPrice__price--discount"></span></td>
                    <td><span class="T-setPrice__price--sale --normal">9605</span>&frasl;&thinsp;瓶</td>
                    <td><button class="deliveryBTN--normal" aria-label="加入清單"></button></td>
                </tr>
            </table>
            <div class="T-setPrice__pic">
                <a href="#">
                    <div class="T-setPrice__pic__wrap"><img class="T-setPrice__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA"></div>
                    <span class="T-setPrice__pic__x">x</span>
                    <span class="T-setPrice__pic__quantity">24</span>
                </a>
            </div>
            <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
        </div>
        <div class="T-setPrice__item">
            <h3 class="T-setPrice__name">
                <a href="#">
                    <span class="T-setPrice__name--en">Dom. René Leclerc</span>
                    <span class="T-setPrice__name--cn">雷內．勒克拉克 哲維瑞香貝丹「修士背斜谷」一級園紅酒</span>
                </a>
            </h3>
            <div class="T-setPrice__info">
                <span class="T-setPrice__info__year">2018</span>
                <span class="T-setPrice__info__capacity">750ml</span>
                <span class="T-setPrice__info__awards">RP 93</span>
            </div>
            <table class="T-setPrice__price">
                <tr>
                    <td></td>
                    <td><span class="T-setPrice__price--original">11300</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="T-setPrice__price--discount"></span></td>
                    <td><span class="T-setPrice__price--sale --normal">9605</span>&frasl;&thinsp;瓶</td>
                    <td><button class="deliveryBTN--normal" aria-label="加入清單"></button></td>
                </tr>
            </table>
            <div class="T-setPrice__pic">
                <a href="#">
                    <div class="T-setPrice__pic__wrap"><img class="T-setPrice__pic__img" src="../assets/images/WI00261001_btl.png" alt="ALMAVIVA"></div>
                    <span class="T-setPrice__pic__x">x</span>
                    <span class="T-setPrice__pic__quantity">24</span>
                </a>
            </div>
            <button class="favoriteBTN" aria-label="追蹤酒款"><span></span></button>
        </div>
    </div>
</section>