.catalogue{
    &__breadcrumb{
        display: none;
        margin-top: 60px;
        width: 100%; height: 50px;
        padding-left: 5%;
        @include largepad{
            display: block;
            margin-top: 120px;  
        }
    } 
    
    &__filterPanel{
        width: 100%; max-width: 1280px;
        margin: auto;
        // padding: 0 2%;
        &__result{
            width: 100%;
            
            background: #DDDADA;
            padding: 1rem;
            display: flex; 
            flex-wrap: wrap;
            // vertical-align: middle;
            padding-top: calc(60px + 1rem);

            label:has(input:checked)::after{
                content: '';
                width: 12px; height: 12px;
                display: inline-block;
                background-image: url(../images/icon_delete-small.svg);
                background-repeat: no-repeat;
                margin-left: 5px;
            }
            @include largepad{
                padding-top: 1rem;
            }

        }
        &__title{
            font-size: $font-l;
            height: 40px; line-height: 40px;
            order: 1;
            flex-grow: 1;
            span{
                // color: $commonColor-highlight;
                font-size: $font-l;
                padding: 0 0.2rem;
            }
        }
        &__options{
            width: 100%;
            order: 3;
        }
        &__advancedSearch{
            width: auto; height: 40px;
            border-radius: 40px;
            background-color: #9E9E9E;
            color: #fff;
            padding: 0 15px;
            order: 2;
            flex-shrink: 0;
            &::before{
                content: '';
                width: 24px; height: 24px;
                background-image: url(../images/icon_settings-adjust.svg);
                background-repeat: no-repeat;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        // ----------------- 條件篩選器
        &__wrap{
            width: 100%; height: 100vh;
            position: fixed; top: 0;
            overflow: scroll;
            z-index: 9;
            background-color: $BGColor-grayLight;
            //margin: auto;
            padding-top: 60px;
            padding-bottom: calc(10vh + 80px);
            // transition: padding-top .4s ease-in-out;
            .hideUp &{
                padding-top: 0; 
            }
            @include largepad{
                width: 100%; height: auto;
                position: relative;
            }
            &Title{
                width: 100%; height: 50px;
                position: sticky; top: 0px; 
                background-color: $BGColor-grayLight;
                border-bottom: #DCDCDC solid 1px;
                transition: top .4s ease-in-out;
                z-index: 9;
                .hideUp &{
                    top: 0px; 
                }
                & h3{
                    width: 100%; height: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-size: $font-l;
                    color: $fontColor-dark;
                }
            }
            
        }

        &__selectGate{
            width: 90%; height: 48px;
            background-color: #fff;
            border: #DCDCDC solid 1px;
            border-radius: 10px;
            margin: auto;
            margin-top: 1rem; margin-bottom: 1rem;
            display: flex; justify-content: space-evenly; align-items: center;
            overflow: hidden;
            label{
                width: 100%; height: 100%;
                text-align: center;
                line-height: 48px;
                
                &:not(:last-child){
                    border-right: #DCDCDC solid 1px;
                }
                &:has(input:checked){
                    background-color: $commonColor-primary;
                    color: #fff;
                }
            }
            input{
                display: none;
            }
        }
        &__itemsHeader{
            width: 100%; height: 48px;
            background-color: $BGColor-labelDark;
            padding: 0 1rem;
            display: flex; justify-content: space-between; align-items: center;
            
        }
        &__itemsTitle{
            font-size: $font-l;
            color: #fff;
            line-height: 48px;
        }
        &__originalBTN,
        &__originPlaceBTN{
            width: auto; height: 48px;
            color: #fff;
            position: relative;
            padding: 0 10px;
            &::after{
                content: '';
                width: 100%; height: 35px;
                border: #fff solid 1px;
                border-radius: 48px;
                position: absolute; 
                left: 0; top: 50%; transform: translateY(-50%);

            }
        }

        
        &__itemGroup[data-type$=price],
        &__itemGroup[data-type$=year]{
            ul{
                flex-wrap: nowrap;
                gap: 0;
                border-radius: calc(35px / 2);
                // overflow: hidden;
                // border: #DCDCDC solid 1px;
                padding-bottom: 25px;
                li{
                    width: 100%; 
                    flex-shrink: 1;
                    position: relative;
                    
                    
                    &:first-child{
                        .catalogue__filterPanel__item{
                            border-radius: 17px 0 0 17px;
                            border-left-color: #DCDCDC;
                            
                            &[title=NV]{
                                width: 80%;
                                border-radius: 17px;
                                position: absolute; left: 0; top: 0;
                                
                                & > span:first-child{
                                    width: 100%; 
                                    position: relative; bottom: -21px;
                                }
                            }
                            
                        }
                        
                    }
                    &:last-child{
                        .catalogue__filterPanel__item{
                            border-radius: 0 17px 17px 0;
                        }
                    }
                }
            }
            .catalogue__filterPanel__item{
                width: 100%; height: 25px;
                min-width: fit-content;
                border-radius: 0;
                border: solid 1px;
                border-color: #DCDCDC #DCDCDC #DCDCDC transparent;
                
                span:first-child{
                    line-height: 25px;
                    position: absolute;
                    bottom: -25px; left: 0;
                    color: $fontColor-light;
                    
                }
                
            }

        }
        &__itemGroup[data-type$=year]{
            li:nth-child(2){
                .catalogue__filterPanel__item{
                    border-radius: 17px 0 0 17px;
                    border-left-color: #DCDCDC;
                }
            }
            .catalogue__filterPanel__item{
                span{
                    right: 0;
                    text-align: right;
                }
            }
            
        }
        &__inputSearch{}
        &__searchList{
            width: 80%; height: 60vh;
            background-color: #fff;
            position: fixed; 
            top: 50%; left: 50%;
            transform: translate(-50%, -55%);
            z-index: 99;
            overflow: scroll;
            border-radius: 10px;
            padding: 0 1rem;
            display: none;
            box-shadow: 0px 0px 0px 100vh rgba(0, 0, 0, 0.4);
            &.open{
                display: block;
            }
            & > div {
                position: sticky; top: 0;
                width: 100%; height: 70px;
                background-color: #fff;
                display: flex; justify-content: space-between; align-items: center;
                & > input{
                    flex-grow: 1;
                    height: 45px;
                    border: #DCDCDC solid 1px;
                    border-radius: 5px;
                    padding-left: 0.5rem;
                }
                & > button{
                    position: absolute; 
                    right: 1rem;
                    & > .bi{
                        font-size: 1.5rem;
                        color: $fontColor-light;
                    }
                }
            }
            ul{
                display: flex; flex-direction: column;
                margin: 0;
                li{
                    width: 100%; height: auto;
                    padding: 0.5rem 0;
                    border-bottom: #DCDCDC solid 1px;
                    text-align: left;
                }
            }
        }
        &__items{
            width: 100%;
            padding: 0 5%;
            // text-align: right;
            ul{
                width: 100%;
                display: flex; 
                flex-wrap: wrap;
                gap: 5px;
                margin: 1rem 0;
                li{
                    &:has(input[id^=grape-varieties]){
                        display: none;
                    }
                    &:has(input[id^=grape-varieties]:checked){
                        display: block;
                    }
                    &:has(input[id=grape-varieties-012]),
                    &:has(input[id=grape-varieties-050]),
                    &:has(input[id=grape-varieties-070]),
                    &:has(input[id=grape-varieties-068]){
                        display: block;
                        order: -1;
                    }
                    
                    // 子產區樣式
                    & > ul{
                        display: none;
                        width: 100%;
                        border-left: #DCDCDC solid 1px;
                        padding-left: 1rem;
                        padding-top: 0.5rem;
                        margin-top: 0;
                        margin-bottom: 0.5rem;
                    }
                    &:has(.active):has(input:checked):has(ul){
                        width: 100%;

                        & > ul{
                            display: flex;
                        }
                    }
                }
            }
            &:has(.select-box){
                text-align: left;
            }
            &Wrap{
                width: 100%;
                display: flex; justify-content: space-between; align-items: center;
                margin-bottom: 1rem;
                input{
                    width: 35%; height: 35px;
                    border: #DCDCDC solid 1px;
                    border-radius: 5px;
                    padding: 0 0.5rem;
                    &:first-child{order: 1;}
                    &:last-child{order: 3;}
                }
                &::after{
                    content: '';
                    width: 10%; height: 1px;
                    border-bottom: #DCDCDC solid 1px;
                    display: block;
                    order: 2;
                }
            }
            
        }
        &__item{
            width: auto; min-width: 65px;
            height: 35px; line-height: 33px;
            vertical-align: middle;
            background-color: #fff;
            padding: 0 10px;
            border-radius: 40px;
            text-align: center;
            border: #DCDCDC solid 1px;
            
            input{
                display: none;
            }
            &:has(input:checked){
                background-color: $commonColor-primary;
                color: #fff;
            }
            
            &Number{
                display: none;
            }
        }
        .select-box[id=wine_capacity]{
            margin: 1rem 0;
            
        }
        .select-box__input-text{
            background-color: #fff;
            border-radius: 5px;
            border: #DCDCDC solid 1px;
            padding-left: 0.5rem;
        }
        .select-box__list{
            width: 80%; max-height: 70%;
            position: fixed; 
            top: 50%; left: 50%; transform: translate(-50%, -50%);
            
            flex-direction: column; flex-wrap: nowrap;
            overflow: scroll;
            box-shadow:0px 0px 0px 100vh #0000008f;
            @include largepad{
                position: absolute;
                top:auto;
                width: 100%;
            }
        }
        // 手機版搜尋結果預覽
        &__resultReview{
            width: 100%; height: calc(10vh + 80px);
            padding-bottom: 10vh;
            padding-left: 5%; padding-right: 5%;
            position: fixed; bottom: 0;
            background-color: $BGColor-grayLight;
            border-top: #DCDCDC solid 1px;
            z-index: 99;
            display: flex; justify-content: space-between; align-items: center;
            
            @include largepad{
                display: none;
            }
        }
        &__resetBTN{
            // text-decoration:underline;
            color: $fontColor-light;
            border-bottom: $fontColor-light solid 1px;
        }
        &__submitBTN{
            width: auto; height: 48px;
            font-size: $font-l;
            color: #fff;
            background-color: $commonColor-primary;
            // margin-top: 1rem;
            padding: 0 1rem;
            border-radius: 5px;
        }
        &__closeBTN{
            width: 50px; height: 50px;
            text-align: center;
            position: absolute; top: 0; right: 1rem;
            background-color: transparent;
            &::after{
                content: '';
                width: 32px; height: 32px;
                display: inline-block;
                background-image: url(../images/icon_delete-small.svg);
                background-size: 100% auto;
                background-position: bottom center;
                background-repeat: no-repeat;
                vertical-align: middle;
            }
        }
        &__triggerBTN{
            width: 100%; height: 50px;
            text-align: left;
            background-color: #fff;
            border: #DCDCDC solid 1px;
            border-radius: 5px;
            padding-left: 0.5rem;
            margin-bottom: 1rem;
            display: flex; justify-content: space-between; align-items: center;
            color: $fontColor-light;
            & .bi-plus{
                font-size: 2.5rem;
                color: $fontColor-disable;
            }
        }
    }
}