<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="讓你窩在家就能享受葡萄酒，市面上品項最齊全的酒類網路平台，超過上萬款優質酒品可供選擇，窩在家裡、即可享受美酒低溫宅配到府，輕裝出遊、抵達民宿馬上開趴！
    ">
    <meta property="og:title" content="iCheers愛酒窩-葡萄酒館搜尋結果" />
    <!-- <meta property="og:image" content="預覽圖 URL" /> -->
    <meta property="og:description" content="讓你窩在家就能享受葡萄酒" />
    <title>iCheers愛酒窩-葡萄酒館-分類找酒搜尋結果</title>
    <!-- third-party issues -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="https://www.icheers.tw/iCheers/Content/images/drop.ico"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 定義變數 -->
    <% const page = 'wine'; %>
  </head>
  <body>
    <%- include('./layout/nav',{page: page}); -%>
    <!-- 麵包屑 -->
    <div class="catalogue__breadcrumb"><span><a href="index.html">首頁</a></span><span><a href="index_wine.html">葡萄酒館</a></span><span>分類找酒</span></div>
    <!-- 篩選器面板 -->
    <%- include('./components/catalogue_filterPanel'); -%>
    
    <%- include('./layout/footer'); -%>
    <%- include('./layout/warning'); -%>
    
    <script type="module" src="../main.js"></script>
  </body>
</html>
